{{!-- <h3>Welcome to Payment Gateway</h3>
    <form action="/payment" method="POST">
       <script 
          src="//checkout.stripe.com/v2/checkout.js"
          class="stripe-button"  --}}
          {{!-- data-key="{{key}}
          {{!-- data-amount="50000"
          data-currency="kes"
          data-name="EVANS OMWOYO"
          data-description="Handmade Craft App"
          data-locale="auto" >
        </script>
    </form>
 --}}

<div class="col-md-4">
    <!-- Side Widget -->
    <div class="card my-4 text-center">
        {{!-- <h5 class="card-header side-card-heading text-center">My Projects</h5> --}}
        <div class="card-body text-center">

            <div class="card-body text-center">
             
          {{!-- <h3>Welcome to Payment Gateway</h3> --}}
       <form action="/payment" method="POST">
       <script 
          src="//checkout.stripe.com/v2/checkout.js"
          class="stripe-button" 
          data-key="{{key}}" 
          data-amount="50000"
          data-currency="kes"
          data-name="EVANS OMWOYO"
          data-description="Handmade Craft App"
          data-locale="auto" >
        </script>
    </form>


            


        </div>
    </div>
      </div>
</div>

<div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
        <div class="card-body">
        <a class="d-block small mt-2 nav-link btn btn-primary" href="/">Go Back</a>

        </div>
    </div> 

 </div>

